In [ ]:
import pandas as pd

#데이터 불러오기
file_path= '/content/drive/MyDrive/kdt_240424/m3_분석라이브러리/pandas/dataset/stock-data.csv' #드라이브 마운트 불러오기.
df = pd.read_csv(file_path,index_col=0)

In [ ]:
df.head()

            Close  Start   High    Low  Volume
Date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039

In [ ]:
# Task1. 주어진 df의 날짜 리스트를 datetime 형식으로 변환하고, 변환된 데이터프레임의 년도, 월, 일 열을 추가하시오.
import pandas as pd

# 날짜 문자열 리스트
date_list = ['2023-01-01', '2023-02-15', '2023-03-30']

# 데이터프레임 생성
df = pd.DataFrame({'value': [100, 200, 300]}, index=pd.to_datetime(date_list))

# 인덱스를 기반으로 년, 월, 일 열 추가
df['year'] = df.index.year
df['month'] = df.index.month
df['day'] = df.index.day

print(df)

            value  year  month  day
2023-01-01    100  2023      1    1
2023-02-15    200  2023      2   15
2023-03-30    300  2023      3   30

In [ ]:
# Task2. 주어진 월간 데이터를 타임스탬프로 변환하고, 변환된 결과에서 시간을 제외한 날짜만 출력하시오.
import pandas as pd

# 문자열을 Period로 변환
period_data = pd.Series(['2023-01', '2023-02', '2023-03'], name='period')
period_data

# 문자열을 Period로 변환
period_data = period_data.astype('period[M]')

# Period를 Timestamp로 변환
timestamp_data = period_data.apply(lambda x: x.to_timestamp())

# 날짜만 출력
print(timestamp_data)

0   2023-01-01
1   2023-02-01
2   2023-03-01
Name: period, dtype: datetime64[ns]

In [4]:
# period[M] 타입이 월 단위이기 때문에 to_timestamp()가 해당 월의 첫 날의 날짜로 변환. 각 Period에 시간을 추가하면 시간도 출력
import pandas as pd

now = pd.Timestamp.now()
offset = pd.offsets.MonthBegin()
print(offset.rollforward(now))
# 현재 날짜를 기준으로 가장 가까운 해당 월의 첫날짜로 이동
offset.rollback(now)

2024-07-01 02:23:35.256520

Timestamp('2024-06-01 02:23:35.256520')

In [7]:
# Task3. 주어진 날짜 데이터 시리즈를 분기로 변환하고, 각 분기별로 데이터의 개수를 출력하세요.
import pandas as pd

# 날짜 데이터 시리즈
date_series = pd.Series(pd.date_range('2023-01-01', '2023-12-31', freq='Q'))
date_series

# 날짜 데이터를 분기로 변환
quarter_data = date_series.dt.to_period('Q')

# 각 분기별 데이터 개수 세기
quarter_counts = quarter_data.value_counts().sort_index()

print(quarter_counts)

0   2023-03-31
1   2023-06-30
2   2023-09-30
3   2023-12-31
dtype: datetime64[ns]

In [14]:
# Task4. 2023년 1월 1일부터 2023년 12월 31일까지의 날짜 범위를 생성하고, 이 날짜 범위에서 매월 첫 번째 날만 포함하는 데이터프레임을 작성하세요.
dates = pd.date_range('2023-01-01','2023-12-31 23:59', freq='MS')
print(dates)

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [63]:
# Task4.teach
date_range = pd.date_range(start='2023-01-01', end='2023-12-31', freq='MS')
df = pd.DataFrame(date_range, columns=['first_day_of_month'])
print(df)

   first_day_of_month
0          2023-01-01
1          2023-02-01
2          2023-03-01
3          2023-04-01
4          2023-05-01
5          2023-06-01
6          2023-07-01
7          2023-08-01
8          2023-09-01
9          2023-10-01
10         2023-11-01
11         2023-12-01

In [42]:
# Task5. 2020년부터 2025년까지의 분기별 기간 범위를 생성하고, 각 분기의 시작과 끝 날짜를 포함하는 데이터프레임을 작성하세요.
dates = pd.date_range('2020-01-01','2025-12-31', freq='Q')
start_end = pd.DataFrame(columns = ['Start',' End'], index= range(len(dates)))
for i, Start in enumerate(dates):
    End = Start + pd.offsets.QuarterEnd()
    start_end.loc[i] = [Start, End]

print(start_end)

                  Start                  End
0   2020-03-31 00:00:00  2020-06-30 00:00:00
1   2020-06-30 00:00:00  2020-09-30 00:00:00
2   2020-09-30 00:00:00  2020-12-31 00:00:00
3   2020-12-31 00:00:00  2021-03-31 00:00:00
4   2021-03-31 00:00:00  2021-06-30 00:00:00
5   2021-06-30 00:00:00  2021-09-30 00:00:00
6   2021-09-30 00:00:00  2021-12-31 00:00:00
7   2021-12-31 00:00:00  2022-03-31 00:00:00
8   2022-03-31 00:00:00  2022-06-30 00:00:00
9   2022-06-30 00:00:00  2022-09-30 00:00:00
10  2022-09-30 00:00:00  2022-12-31 00:00:00
11  2022-12-31 00:00:00  2023-03-31 00:00:00
12  2023-03-31 00:00:00  2023-06-30 00:00:00
13  2023-06-30 00:00:00  2023-09-30 00:00:00
14  2023-09-30 00:00:00  2023-12-31 00:00:00
15  2023-12-31 00:00:00  2024-03-31 00:00:00
16  2024-03-31 00:00:00  2024-06-30 00:00:00
17  2024-06-30 00:00:00  2024-09-30 00:00:00
18  2024-09-30 00:00:00  2024-12-31 00:00:00
19  2024-12-31 00:00:00  2025-03-31 00:00:00
20  2025-03-31 00:00:00  2025-06-30 00:00:00
21  2025-06-30 00:00:00  2025-09-30 00:00:00
22  2025-09-30 00:00:00  2025-12-31 00:00:00
23  2025-12-31 00:00:00  2026-03-31 00:00:00

In [66]:
# Task5.teach
period_range = pd.period_range(start='2020Q1',end ='2025Q4', freq='Q')
df = pd.DataFrame({
    'quarter' : period_range,
    'start_date' : period_range.start_time,
    'end_date' : period_range.end_time
})
print(df)

   quarter start_date                      end_date
0   2020Q1 2020-01-01 2020-03-31 23:59:59.999999999
1   2020Q2 2020-04-01 2020-06-30 23:59:59.999999999
2   2020Q3 2020-07-01 2020-09-30 23:59:59.999999999
3   2020Q4 2020-10-01 2020-12-31 23:59:59.999999999
4   2021Q1 2021-01-01 2021-03-31 23:59:59.999999999
5   2021Q2 2021-04-01 2021-06-30 23:59:59.999999999
6   2021Q3 2021-07-01 2021-09-30 23:59:59.999999999
7   2021Q4 2021-10-01 2021-12-31 23:59:59.999999999
8   2022Q1 2022-01-01 2022-03-31 23:59:59.999999999
9   2022Q2 2022-04-01 2022-06-30 23:59:59.999999999
10  2022Q3 2022-07-01 2022-09-30 23:59:59.999999999
11  2022Q4 2022-10-01 2022-12-31 23:59:59.999999999
12  2023Q1 2023-01-01 2023-03-31 23:59:59.999999999
13  2023Q2 2023-04-01 2023-06-30 23:59:59.999999999
14  2023Q3 2023-07-01 2023-09-30 23:59:59.999999999
15  2023Q4 2023-10-01 2023-12-31 23:59:59.999999999
16  2024Q1 2024-01-01 2024-03-31 23:59:59.999999999
17  2024Q2 2024-04-01 2024-06-30 23:59:59.999999999
18  2024Q3 2024-07-01 2024-09-30 23:59:59.999999999
19  2024Q4 2024-10-01 2024-12-31 23:59:59.999999999
20  2025Q1 2025-01-01 2025-03-31 23:59:59.999999999
21  2025Q2 2025-04-01 2025-06-30 23:59:59.999999999
22  2025Q3 2025-07-01 2025-09-30 23:59:59.999999999
23  2025Q4 2025-10-01 2025-12-31 23:59:59.999999999

In [40]:
# Task6. 0일부터 10일까지의 시간 범위를 12시간 간격으로 생성하고, 각 간격에 대해 누적 시간을 계산하여 데이터프레임을 작성하세요.
dates = pd.date_range('2000-01-01','2000-01-10 23:59', freq='12h')
dates

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 12:00:00',
               '2000-01-02 00:00:00', '2000-01-02 12:00:00',
               '2000-01-03 00:00:00', '2000-01-03 12:00:00',
               '2000-01-04 00:00:00', '2000-01-04 12:00:00',
               '2000-01-05 00:00:00', '2000-01-05 12:00:00',
               '2000-01-06 00:00:00', '2000-01-06 12:00:00',
               '2000-01-07 00:00:00', '2000-01-07 12:00:00',
               '2000-01-08 00:00:00', '2000-01-08 12:00:00',
               '2000-01-09 00:00:00', '2000-01-09 12:00:00',
               '2000-01-10 00:00:00', '2000-01-10 12:00:00'],
              dtype='datetime64[ns]', freq='12H')

In [68]:
# Task6.teach
timedelta_range = pd.timedelta_range(start=0, end='10D', freq='12H')

df = pd.DataFrame({
    'timedelta': timedelta_range,
    'cumulative_time': [timedelta.total_seconds() / 3600 for timedelta in timedelta_range] # 누적 시간을 시간 단위로 계산
})

print(df)

          timedelta  cumulative_time
0   0 days 00:00:00              0.0
1   0 days 12:00:00             12.0
2   1 days 00:00:00             24.0
3   1 days 12:00:00             36.0
4   2 days 00:00:00             48.0
5   2 days 12:00:00             60.0
6   3 days 00:00:00             72.0
7   3 days 12:00:00             84.0
8   4 days 00:00:00             96.0
9   4 days 12:00:00            108.0
10  5 days 00:00:00            120.0
11  5 days 12:00:00            132.0
12  6 days 00:00:00            144.0
13  6 days 12:00:00            156.0
14  7 days 00:00:00            168.0
15  7 days 12:00:00            180.0
16  8 days 00:00:00            192.0
17  8 days 12:00:00            204.0
18  9 days 00:00:00            216.0
19  9 days 12:00:00            228.0
20 10 days 00:00:00            240.0

In [71]:
# Task7. 주어진 df 에서 특정 날짜 이후의 데이터를 필터링하세요.
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])

print(df.truncate(before='2022-01-03'))

        date  value
3 2022-01-04      4
4 2022-01-05      5

In [72]:
# Task7.teach
filtered_df = df[df['date'] > '2022-01-02']
print(filtered_df)

        date  value
2 2022-01-03      3
3 2022-01-04      4
4 2022-01-05      5

In [75]:
# Task8. 주어진 df에서 월별로 데이터의 합계를 계산하세요.
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-15', '2022-02-01', '2022-02-15', '2022-03-01'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])

#teach
df['month'] = df['date'].dt.to_period('M')
monthly_sum = df.groupby('month')['value'].sum().reset_index()
print(monthly_sum)

     month  value
0  2022-01      3
1  2022-02      7
2  2022-03      5

In [80]:
# Task9. 주어진 데이터프레임에서 주말(토요일과 일요일) 데이터를 필터링하세요.
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-08', '2022-01-09'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])
df

# teach
df['weekday'] = df['date'].dt.dayofweek
weekend_df = df[df['weekday'] >= 5]
print(weekend_df)

        date  value  weekday
0 2022-01-01      1        5
1 2022-01-02      2        6
3 2022-01-08      4        5
4 2022-01-09      5        6

In [81]:
# Task10. 주어진 df에서 분기별 데이터의 평균을 계산하세요.
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])

# teach
df['quarter'] = df['date'].dt.to_period('Q')
quarter_mean = df.groupby('quarter')['value'].mean().reset_index()
print(quarter_mean)

  quarter  value
0  2022Q1    2.0
1  2022Q2    4.5

In [82]:
# Task11. 주어진 df에서 작업 일자(월요일부터 금요일)만 남기고 필터링하세요.
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-08', '2022-01-09'],
    'value': [1, 2, 3, 4, 5, 6]
})
df['date'] = pd.to_datetime(df['date'])

# teach
df['weekday'] = df['date'].dt.dayofweek
workday_df = df[df['weekday'] < 5]
print(workday_df)

        date  value  weekday
1 2022-01-03      2        0
2 2022-01-04      3        1
3 2022-01-05      4        2